body {
	background-color: #f1e9d2;
}

nav {
	height: 76px;
	background-color: #548687 !important;
	position: fixed !important;
	width: 100%;
	top: 0 !important;
}

nav a {
	color: white !important;
	font-weight: bold;
	font-size: 16px;
	height: 75px !important;
	padding-top: 30px !important;
}

ul.dropdown-menu {
	background-color: #548687 !important;
}

li.dropdown a:focus {
	background-color: #548687 !important;
}

ul.dropdown-menu li a:hover {
	background-color: #083A3B !important;
}

nav input {
/*	margin-top: 18px !important;
*/	height: 100% !important;
	width: 100%;
	border-radius: 5px;
	padding-right: 50px;
}

nav button {
	margin-left: -50px;
}

#instantInput {
	width: 500px;
}

#main {
	margin-top: 106px;
}

/*.searchResult {
	width: 100%;
}*/

.searchResult > a {
	color: black !important;
}

.searchResultsContainer {
	background-color: white;
	width: 100%;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

#searchButton {
	background-color: #E99B14;
	border: none;
	height: 40px !important;
	cursor: pointer;
	color: white;
}

#searchButton:active {
	background-color: #9D4F00;
}

a.searchButton:hover {
	background-color: black !important;
}

.searchBar {
	height: 40px !important;
	margin-top: 18px;
	margin-left: 75px !important;
}

button.btn.btn-default.dropdown-toggle.as-is.bs-dropdown-to-select {
	height: 40px;
	background-color: gray;
	border: none;
	color: white;
}

#dropdownSelect > .dropdown-menu {
	background-color: white !important;
	color: black !important;
}

#dropdownSelect > .dropdown-menu > li a {
	color: black !important;
}

#dropdownSelect > .dropdown-menu >li a:hover {
	background-color: gray !important;
	color: white !important;
}

.bias-input-group .input-group-addon + .input-group-btn > .btn {border-radius: 0;}
.bias-input-group .input-group-addon + .input-group-btn + .input-group-addon {border-right: 0; border-left: 0;}

.bookCover {
	margin-bottom: 35px;
}

.bookInfo {
	background-color: white;
	padding: 30px;
}

.bookStats {
	margin-top: 25px;
}

.bookStat {
	display: inline;
	margin-right: 40px;
}

.bookSummary {
	margin-top: 40px;
	margin-bottom: 50px;
}

.bookButtons > form {
	display: inline;
	margin-right: 20px;
	margin-top: 20px;
}

.addForm {
	background-color: white;
	padding-top: 50px;
}

.movieForm {
	display: none;
}

/*Vertically align list items in header

Vertically align search bar & style it

Set button next to search bar to search APIs

Way to select what medium you are searching

Instant search results drop down below bar & over rest of content*/